[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app


[Install]
WantedBy=multi-user.target